{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Reviews plugin for Craft CMS 3.x
 *
 * Reviews index.twig
 *
 * @author    Scot Mortimer
 * @copyright Copyright (c) 2020 Scot Mortimer
 * @link      https://github.com/mortscode
 * @package   Reviews
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mortscode\\reviews\\assetbundles\\reviews\\ReviewsAsset") %}
{% do view.registerAssetBundle("mortscode\\reviews\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/mortscode/reviews/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Reviews" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('reviews') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@mortscode/reviews/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set reviewsSections = craft.app.plugins.getPlugin('reviews').settings.reviewsSections %}
{% set entries = craft.reviews.getReviewedEntries.section(reviewsSections).limit(25) %}
{% set mainColumnTitle = craft.app.plugins.getPlugin('reviews').settings.mainColumnTitle %}

{% paginate entries as pageInfo, pageEntries %}

{# The content of the CP Section#}
{% block content %}
    <table class="data fullwidth">
        <thead>
            <tr>
                <th>{{ mainColumnTitle }}</th>
                <th>Link</th>
                <th>Average Rating</th>
                <th>Total Ratings</th>
                <th>Pending Reviews</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries.all %}
            {% set rating = craft.reviews.getEntryRatings(entry.id) %}
            <tr>
                <td>
                    <a href="{{ url('reviews/entries/' ~ entry.id) }}">
                        {{ entry.title }}
                    </a>
                </td>
                <td>
                {% if entry.url %}
                    <a href="{{ entry.url }}" class="go" target="_blank">
                        {{ entry.uri }}
                    </a>
                {% endif %}
                </td>
                <td>{{ rating.averageRating }}</td>
                <td>{{ rating.totalRatings }}</td>
                <td>{{ rating.pendingReviews }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}
    {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
{% endblock %}
