{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Reviews plugin for Craft CMS 3.x
 *
 * Reviews Settings.twig
 *
 * @author    Scot Mortimer
 * @copyright Copyright (c) 2020 Scot Mortimer
 * @link      https://github.com/mortscode
 * @package   Reviews
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mortscode\\reviews\\assetbundles\\reviews\\ReviewsAsset") %}

{% set statusOptions = [
	{label: 'Approved', value: 'approved'},
	{label: 'Pending', value: 'pending'},
	{label: 'Spam', value: 'spam'},
	{label: 'Trashed', value: 'trashed'},
] %}

{% set allEntryTypes = craft.app.sections.allSections %}

{% set entryTypes = [] %}

{% for entryType in allEntryTypes %}
    {% set entryTypes = entryTypes|merge([{label: entryType.name, value: entryType.handle}]) %}
{% endfor %}

{% set statusLabel = "<span class='status " ~ settings.defaultStatus ~ "'></span>Default Status" %}

{{ forms.selectField({
    label: statusLabel,
    id: 'default-status',
    name: 'defaultStatus',
    options: statusOptions,
    value: settings.defaultStatus,
    first: true
}) }}

{{ forms.textField({
    label: 'Main Column Title',
    id: 'mainColumnTitle',
    name: 'mainColumnTitle',
    value: settings.mainColumnTitle,
    size: 50
}) }}

{{ forms.checkboxSelectField({
    label: 'Reviewable Sections',
    id: 'reviewsSections',
    name: 'reviewsSections',
    options: entryTypes,
    values: settings.reviewsSections|default(null),
}) }}

{{ forms.textField({
    label: 'ReCaptcha Site Key',
    id: 'recaptchaSiteKey',
    name: 'recaptchaSiteKey',
    value: settings.recaptchaSiteKey,
    size: 50
}) }}

{{ forms.textField({
    label: 'ReCaptcha Secret Key',
    id: 'recaptchaSecretKey',
    name: 'recaptchaSecretKey',
    value: settings.recaptchaSecretKey,
    size: 50
}) }}
