{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle("mortscode\\reviews\\assetbundles\\reviews\\ReviewsAsset") %}

{% set entry = craft.entries.id(entryId).one() %}
{% set reviews = craft.reviews.getEntryReviews(entryId, true) %}

{% set crumbs = [
    { label: 'Reviews', url: url('reviews') }
] %}

{% set title = entry.title %}

{% set resultsDataProvider = create({
	'class': 'yii\\data\\ArrayDataProvider',
	'allModels':reviews,
	'pagination': {'pageSize': 10}
}) %}
{# adjust pageSize to the expected number of items per page #}
{% set results = resultsDataProvider.getModels() %}
{% set currentPage = resultsDataProvider.getPagination().getPage() + 1 %}
{% set pageCount = resultsDataProvider.getPagination().getPageCount() %}
{% if currentPage > 1 %}
	{% set prevPage = currentPage - 1 %}
{% endif %}
{% if currentPage < pageCount %}
	{% set nextPage = currentPage + 1 %}
{% endif %}

{% block details %}
	<form action="" method="post">
		<input type="hidden" name="action" value="reviews/reviews/cleanup">
		<input type="hidden" name="entryId" value="{{ entry.id }}">
		{{ csrfInput() }}

		<input type="submit" value="Clean Up" class="btn submit">
	</form>
{% endblock %}

{% block content %}
	<table class="data fullwidth">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Date</th>
				<th>Status</th>
				<th>Responded</th>
				{% if devMode %}
				<th>Delete</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for review in results %}
				<tr>
					{# name #}
					<td>
						<a href="{{ url('reviews/entries/' ~ entry.id ~ '/' ~ review.id) }}">
							{{ review.name }}
						</a>
					</td>
					{# email #}
					<td>{{ review.email }}</td>
					{# date #}
					<td>{{ review.dateUpdated|date }}</td>
					{# status #}
					<td>
						{% if review.status %}
							<span class="status {{ review.status }}"></span>
							{{ review.status|capitalize }}
						{% endif %}
					</td>
					{# reponded #}
					<td>
						{% if review.response %}
							<span class="icon" data-icon="check"></span>
						{% endif %}
					</td>
					{% if devMode %}
					<td>
						<a href="{{ actionUrl('reviews/reviews/delete', { reviewId: review.id, entryId: entry.id }) }}" class="delete icon"></a>
					</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% if prevPage is defined %}
		<a href="{{ url(craft.request.absoluteUrl, {'page': prevPage}) }}" class="btn">Previous Page</a>
	{% endif %}
	{% if nextPage is defined %}
		<a href="{{ url(craft.request.absoluteUrl, {'page': nextPage}) }}" class="btn">Next Page</a>
	{% endif %}
{% endblock %}
